{
   project =
   {
      description="🇧🇿 Memory mapped file access";
      domain="github";
      name="mulle-mmap";
      user="mulle-core";
      repo="mulle-mmap";
      homepage="https://github.com/mulle-core/mulle-mmap";
      license="BSD-3-Clause"
   };
   dependencies =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      }
   )
}
