{
   project =
   {
      description="🇧🇿 Memory mapped file access";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-mmap";
      user="mulle-core";
      repo="mulle-mmap";
      homepage="https://github.com/mulle-core/mulle-mmap";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="github";
         name="mulle-allocator";
         repo="mulle-allocator";
         url="https://github.com/mulle-c/mulle-allocator";
         user="mulle-c";
      }
   );
}
